@import url('https://fonts.googleapis.com/css2?family=Inter&family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root{
    --cor-primaria:  #22C55E;
    --cor-fonte: #000000;
    --cor-backimg: #FFFFFF;

    --fonte: 'Inter', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    border-radius: 5px;
    box-sizing: content-box;
    width: 400px;    
}


.body{
    margin: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.conteiner{
    
}
.cabecalho{
    height: 60px;
    background-color: var(--cor-primaria);
    display: flex;
    justify-content: center;
}
.div_img{
    display: flex;
    justify-content: center;
    
}
.imagem{
    background-color: var(--cor-backimg);
    height: 100px;
    width: 100px;
    border-radius: 100%;
    border: 3px solid var(--cor-primaria);
}
.paragrafo_nome{
    text-align: center;
    font-size: 12px;
    font-family: var(--fonte);
    font-weight: 400;
    color: var(--cor-fonte);
    padding-top: 50px;
    
}
.paragrafo1{
    display: block;
    padding: 30px 0;
    text-align: center;
    font-family: var(--fonte);
    font-size: 12px;
    font-weight: 400;
    color: var(--cor-fonte);
}
.div_nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.div_nav_botao{
    background-color: var(--cor-primaria);
    font-size: 12px;
    font-family: var(--fonte);
    font-weight: 400;
    width: 35%;
    padding: 16px 0;
    text-align: center;
    border: 1px;
    border-radius: 5px;  
    
}
.paragrafo_footer{
    padding-top: 1.5rem;
    text-align: center;
    font-size: 12px;
    font-family: var(--fonte);
    font-weight: 400;
    color: var(--cor-fonte);
}

@media screen and (max-width: 1350px){
       .body{
        display: block;
        width: auto;;
       }
       .conteiner{
        width: 50%;
        height: 50%;
       }
       .main_R{
        width: auto;
        height: auto;
       }
       .paragrafo_footer{
        width: auto;
       }
}